
body{
  background-color: rgb(184, 235, 220);
}

main{
  display: grid;
}

footer{
  width: 100%;
 display: flex;
  
}


.descrip-logo{
  max-width: 350px;  
}



.card-footer{
  line-height:0.8;
  border: 5px;
  box-shadow: 0px 0px 10px;
  margin-top: 2px;
  padding: 2px;
  width: 8rem;
  max-width:8rem ;
  min-width: 8rem;
  left: 5rem;
  min-height: 5rem;
  max-height: 5rem;
  background-color: rgb(43, 191, 142);
  margin-top: 10px;
  padding: 4px;
}


.card{
  background-color: rgb(43, 191, 142);
  border: 10px;
  box-shadow: 0px 0px 10px;
  margin-top: 10px;
  padding: 8px;
  line-height:0.2;
}

#grafico1,#grafico2,#grafico3{
  max-height: 250px;
}

.miboton{
  background-color: rgb(43, 191, 142);
}